<!DOCTYPE html>
<html lang="en">

  <head>
{% include ga.html %}	  

	  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IEEE AIKE 2018 is an international forum for academia and industries to exchange visions and ideas in the state of the art and practice of Artificial Intelligence and Knowledge Engineering. Paper Submission Deadline: July 1, 2018">
    <meta name="author" content="Maurizio Atzori (University of Cagliari, Italy)">

	<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
<link rel="manifest" href="img/favicon/site.webmanifest">
<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
	<!-- end favicon -->
	
    <title>{{ page.title }}</title> 
	  <!-- markdown based website -->

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">

	<style>
	.btn-primary-outline, .btn-primary-outline:hover, .btn-primary-outline:focus  {
		border: 2px solid;
		background-color: transparent !important;
		box-shadow: none !important;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}
	#cfp .text-white a {
		color: rgba(0, 115, 230,0.8); /*rgb(128, 191, 255); /*#99ccff;*/
		font-weight: bold;
		
	}
	
	#committees  ul {
		list-style-type:none;
	}
	
	</style>
  </head>

  <body id="page-top">

{% include navmenu.html %}	  
	  
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1 class="text-uppercase" style="text-shadow: black 0.08em 0.08em 0.2em;">
              <strong>Artificial Intelligence</strong> and <br/><strong>Knowledge Engineering<br/>
			  (IEEE AIKE 2018)
			  </strong>
            </h1>


            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <!--<p class="text-faded mb-5 " style="color:white;text-shadow: black 0.1em 0.1em 0.1em;"></p>
	-->		
			<h4 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;">September 26-28, 2018 - <i>Laguna Hills</i>, California, USA</h4>
			<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;">Update: camera ready due on 8/31; 6 keynote speakers!</h5>
			<!--<h5 class="mb-5" style="color:white;text-shadow: black 0.1em 0.1em 0.1em;">Deadline extension! Abstracts: July 15; Research Papers: July 22</h5>
			
			<!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#cfp">Call for Papers</a>-->
			<a class="btn btn-warning btn-xl js-scroll-trigger" href="#keynotes">Keynote Speakers</a>
			<a class="btn btn-primary btn-xl js-scroll-trigger" href="http://45mins.org/registration/registration.jsp">Registration</a>

			
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container" id="keynotes">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Keynote Speakers</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
	      
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="https://people.wright.edu/sites/people.wright.edu/files/styles/profile_full_page/public/user-uploads/profile-photo/tn-bourbakis.jpg?itok=ETfE1Shy" style="width:50%;"/>
              <h3 class="mb-3">Nikolaos Bourbakis</h3>
              <h5>Wright State University, USA</h5>
              <p class="text-muted mb-0">Synergies of AI and Knowledge Engineering for 
Healthcare &amp; Biomedicine</p>
            </div>
          </div>
		
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!--<i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>  overflow:hidden-->
			  <img src="img/Conoval_Paul4_2017small.jpg" style="width:50%;" />
              <h3 class="mb-3">Paul Conoval</h3>
              <h5>Northrop Grumman Corporation, Virginia, USA</h5>
              <p class="text-muted mb-0">TBA</p>
            </div>
          </div>
		
		
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="http://people.cs.georgetown.edu/~ophir/images/frieder-2016.jpg" style="width:50%"/>
              <h3 class="mb-3">Ophir Frieder</h3>
              <h5>Georgetown University, USA</h5>
              <p class="text-muted mb-0">Computing Medicine</p>
            </div>
          </div>
		
	</div> <!-- row -->
		
        <div class="row">
		
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!--<i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>  overflow:hidden-->
			  <img src="img/Sang-goo_Lee2.jpg" style="width:50%;" />
              <h3 class="mb-3">Sang-goo Lee</h3>
              <h5>Seoul National University (SNU), South Korea</h5>
              <p class="text-muted mb-0">Bringing AI into Fashion</p>
            </div>
          </div>
		
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!--<i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>-->

				<img src="https://www.utdallas.edu/~bhavani.thuraisingham/Images/ThuraisinghamB.jpg" style="width:50%" />
              <h3 class="mb-3">Bhavani Thuraisingham</h3>
              <h5>University of Texas, Dallas, USA</h5>
              <p class="text-muted mb-0">Secure Data Science: Integrating Data Science and Cyber Security</p>
            </div>
          </div>
		
           <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!--<i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>  overflow:hidden-->
			  <img src="img/zaniolo_scai.png" style="width:50%;" />
              <h3 class="mb-3">Carlo Zaniolo</h3>
              <h5>University of California, Los Angeles, USA</h5>
              <p class="text-muted mb-0">Declarative Programming of Knowledge-based Applications on BigData</p>
            </div>
          </div>
		
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
	


	
    <section class="bg-primary" id="cfp">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-white">
            <h2 class="section-heading text-white text-center">
			<i class="fa fa-bullhorn sr-icons"></i>
			Call for Papers</h2>
            <hr class="light my-4">
			
			<p>Artificial Intelligence (AI) is concerned with computing technologies that allow machines to see, hear, talk, think, learn, and solve problems. The huge potential of applying AI for problem solving represents an exciting future that business objectives can be achieved much more effectively. In addition, business-business, business-customer, and customer-customer may be interconnected in a revolutionary way to stimulate tremendous amount of interesting activities. A core of AI is Knowledge Engineering that addresses the acquistion, understanding, description, storage, integration, processing, control, and use of knowledge, among others.</p>

​

<p>The First IEEE International Conference on Artificial Intelligence and Knowledge Engineering (AIKE 2018), is an international forum for academia and industries to exchange visions and ideas in the state of the art and practice of Artificial Intelligence and Knowledge Engineering, as well as to identify the emerging topics and define the future of Artificial Intelligence and Knowledge Engineering.</p>
</div>
</div>
<div id="topics" class="row text-white">
<div class="col-lg-1"></div>
​<div class="col-lg-5">
​<h4><i class="fa fa-list-ul sr-icons"></i> TOPICS OF INTEREST​​</h4>
<ul>
<li>Syntactic and semantic aspects of knowledge</li>
<li>Knowledge management</li>
<li>Distributed knowledge and processing</li>
<li>Real-time knowledge and processing</li>
<li>Hardware and software of knowledge systems</li>
<li>Knowledge understanding and modelling</li>
<li>Knowledge discovery</li>
<li>Query and optimization</li>
<li>Integrity, security, and fault tolerance</li>
<li>Machine and deep learning of knowledge</li>
<li>Knowledge integration</li>
<li>"Big Knowledge" and reduction</li>
<li>Performance evaluation</li>
<li>Communicating knowledge and agents</li>
<li>Multi-modal interaction</li>
<li>AI technologies including Search, planning, reasoning, knowledge representation, natural language processing, robotics and perception</li>
<li>Knowledge-based applications</li>
</ul>
</div>

<div class="col-lg-5">
​<h4 id="submission">
<i class="fa fa-edit"></i>
SUBMISSION INSTRUCTIONS</h4>
<div class="small">
<p>Authors are invited to submit an 8-page (regular), 4-page (short), and 2-page (poster and demo) manuscript in double-column IEEE format. Manuscripts must be written in English and follow the instructions at <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html">Manuscript Formatting and Templates</a>.
​
<p>
All paper submissions will be carefully reviewed by at least three experts and reviews will be returned to the author(s) with comments to ensure the high quality of the accepted papers. The authors of accepted papers must guarantee that their paper will be presented at the conference. Please only submit original material where copyright of all parts is owned by the authors declared and which is not currently under review elsewhere. Please see the IEEE policies for further information.</p>

​<p><b>Note:</b>

Every paper accepted for publication in the Proceedings of AIKE 2018 MUST be presented during the conference.

Every paper accepted for AIKE 2018 MUST have attached to it at least one registration at the full member/nonmember rate. Thus, for a paper for which all authors are students, one student author will be required to register at the full registration rate. 

Failure to do so will result in removal of your paper from the conference proceedings.


The page numbers for regular, short, workshop, and poster papers are limited to 8, 4, 6, and 2, respectively, including all figures, tables, and references. Regular and workshop papers allow up to 2 extra pages and short papers up to 1 extra page with $150 per extra page.
</p>

</div>

</div>
</div>
	      
        <div class="row">
          <div class="col-lg-10 mx-auto text-white">

The conference proceedings will be published by the <b>IEEE Computer Society Press</b>. Distinguished quality papers presented at the conference will be selected for the best paper/poster awards and for publication in internationally renowned journals.
		</div></div>
        <div class="row">
          <div class="col-lg-10 mx-auto text-white text-center mt-3">
            <!--<p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>-->
            <!--<a class="btn btn-light btn-xl disabled js-scroll-trigger" href="#services">Submit your Paper <br/>to <i>IEEE AIKE 2018</i> <small>(available soon)</small></a>-->
		<a class="btn btn-light btn-xl btn-success js-scroll-trigger" href="https://easychair.org/conferences/?conf=aike2018">Submit your paper <br/>to <i>IEEE AIKE 2018</i></a>
		</div>

          </div>
        </div>
    </section>
    <section id="dates">
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
				<h2 class="section-heading text-center mb-3">
				<i class="fa fa-calendar-check-o sr-icons" aria-hidden="true"></i>
				Important Dates</h2>
				            <hr class="red my-4">

				<ul style="list-style-type:none">
					<li><b>Workshop proposals deadline</b>: June 24, 2018</li>
					<li><b>Abstracts submission deadline</b> (Regular, Short, Poster, Demo) : July 15, 2018 (extended)</li>
					<li><b>Paper submission deadline</b> (Regular, Short, Poster, Demo) : July 22, 2018 (extended)</li>
					<li><b>Notification of acceptance</b>: <strike>August 12, 2018</strike> August 16, 2018</li>
					<li><b>Camera ready deadline</b>: <strike>August 26, 2018</strike> August 31, 2018</li>
				</ul>
				</div>
			</div>
		</div>
	</section>
		  

<!--
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
      </div>
    </section> -->

	        <!--<a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>-->
	

	
<section id="committees" class="bg-dark text-white">
      <div class="container">
		<div class="row text-center">
          <div class="col-lg-12">

		  <h2 class="mb-4">Committees</h2>
		  
	<h4>General Co-Chairs</h4>
<ul>
<li>Farokh Bastani, University of Texas, Dallas, USA</li>
<li>Giovanni Pilato, Italian National Research Council, Italy</li>
<li>Phillip Sheu, University of California, Irvine, USA</li>
<li>Jeffrey Tsai, Asia University, Taiwan</li>
<li>Benjamin Wah, Chinese University of Hongkong, China</li>
</ul>

<h4 class="mt-4" id="pc">Program Co-Chairs</h4>
<ul><li>Maurizio Atzori, University of Cagliari, Italy
</li><li>Adina M. Panchea, École Polytechnique, France
</li><li>Lubomir Stanchev, Cal Poly San Luis Obispo, USA
</li></ul>

<h4 class="mt-4" id="pc">Program Committee Members</h4>
<p>
<a href="./pc" style="color:white">List of IEEE AIKE 2018 PC Members</a>
</p>
	
<h4>C.V. Ramamoorthy Award Chair</h4>

<ul><li>W.T. Chen, National Tsing Hua University, Taiwan
</li></ul>



<h4>Workshop Co-Chairs</h4>

<ul><li>Bharat Bhargava, Purdue University, USA 

</li><li>Faizan Javed, CareerBuilder, USA

</li><li>Jianquan Liu, NEC, Japan
	
</li><li>Yunmook Nah, Dankook University, Korea

</li><li>Belle Wei, San Jose State University, USA
</li></ul>

​

<h4>Finance and Local Arrangement Chair</h4>

<ul><li>George Wang, CSUN, USA
</li></ul>

​

<h4>Publication and Registration Chair</h4>
<ul><li>Bryan Chou, University of California, Irvine, USA
</li></ul>
	</div></div>
      </div>
    </section>
	
	
	
    <section id="contacts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contacts and Visa Application</h2>
            <hr class="my-4">
            <p class="mb-5fdas">For questions related to workshops and paper submissions, please contact <a href="mailto:aike@uci.edu">aike@uci.edu</a>.  
		    For visa and travel related inquires, please contact <a href="mailto:chunghc3@uci.edu">Bryan Chou (chunghc3@uci.edu)</a>. 
		    Invitation letters will not be provided until registration is completed.</p>
	    <p class="mb-5fdas"><b>Authors of accepted papers who need an invitation letter for visa application please contact <a href="mailto:aike@uci.edu">aike@uci.edu</a>.</b></p>  
		  
          </div>
        </div>
	      
	      
        <div class="row">
          <!--<div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>-->
          <div class="col-lg-12 mr-auto text-center">
            <a href="mailto:aike@uci.edu"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              aike@uci.edu
            </p></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>
	  
 <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Event",
  "name": "IEEE International Conference on Artificial Intelligence and Knowledge Enginering (IEEE-AIKE 2018)",
  "startDate": "2018-10-01",
  "endDate": "2018-10-03",
  "inLanguage": "English",
  "location": {
	  "@context": "http://schema.org/",
	  "@type": "Place",
	  "address": "Laguna Hills, California, USA",
	  "name": "California, USA"
  },
  "alternateName": "AIKE 2018",
  "description": "IEEE AIKE 2018 is an international conference to exchange visions and ideas in the state of the art and practice of Artificial Intelligence and Knowledge Engineering. Submission Deadline July 1, 2018.",
  "identifier": "http://www.ieee-aike.org/2018/",
  "image": "http://www.ieee-aike.org/2018/img/ieeelogo2.png",
  "url":"http://www.ieee-aike.org/2018/"
 }
</script>	  
	  
<script type="application/javascript">
function msieversion() {
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  // If Internet Explorer, return version number
    {
        return true; // (parseInt(ua.substring(msie + 5, ua.indexOf(".", msie))));
    }
    else  // If another browser, return 0
    {
        return false; //('otherbrowser');
    }
    return false;
}
if (msieversion()) {
   $('.row').first().css('margin-top','10%');
}
	
</script>	  

	 
  </body>

</html>
